* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  border: 0;
}


body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  color: #cecccc;

  background: #000000 url('./assets/home.png') 0 0 / 100% no-repeat;
}

input {
  cursor: pointer;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 1240px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER ===================================================================*/
@import './header';
/*===========================================================================*/


/* MAIN ===================================================================*/
@import './main';
/*===========================================================================*/


/* HEADER ===================================================================*/
@import './footer';
/*===========================================================================*/